
/**
 * In root register images in variables
 */
:root {
  color-scheme: dark;
  --color-default-background: hsl(240, 10%, 92%);
  --color-void: #000;
  --color-unknown: #ff0055;
  --toc-active-item-icon: url("/img/spiral_knights/icon_goldlock.png");
  --toc-active-item-icon-unknown: url("/img/spiral_knights/icon_mobeye.png");
  --toc-active-item-color: hsl(34, 72%, 70%);
  --toc-hover-item-background: hsla(225deg, 40%, 30%, 0.1);
  --ui-selection-regular: rgba(255, 62, 41, 0.5);
  --asset-moon: url("/img/custom/core_alt.png");
}

/* Set initial height for document for background stability */
html {
  min-height: 100vh;
  top: 0;
  bottom: 0;
}

/**
 * Set default font color
 * Set primary font priority
 */
body {
  top: 0;
  bottom: 0;
  color: var(--color-default-background);
  font-family: primary, newton-sans-regular, sans-serif;
  overflow: hidden;
}

/** OpenGL canvas background */
/* .background-special {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
} */

/**
 * Initial background coloe fill,
 * so that @see .background would
 * not change hue depending on browser
 * because of latter's alpha < 1.0
 */
.background-base {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-void);
  z-index: -99;
}

/**
 * Page's primary background w/ gradient
 * Gradient is loosely derived of
 * inventory item's preview model background
 *
 * As this gradient is not 1.0 alpha,
 * we rely on default bg color in @see .background-base
 */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:
    radial-gradient(
      circle,
      rgba(52, 100, 255, 0.14),
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(
      210deg,
      rgba(59, 157, 248, 0.28),
      rgba(42, 58, 202, 0.22)
    );
  z-index: -20;
}

/* potentially add floor texture for primary background */
/* .background::before {
  content: "";
  position: absolute;
  top: -40px;
  right: -50%;

  height: 80%;
  width: 80%;

  background-image: var(--asset-floor);
  background-size: contain;
  opacity: 0.04;
  background-repeat: no-repeat;
} */

/**
 * Dafault selection color
 * We may override DarkReader's selection color override here
 */
::selection {
  background-color: var(--ui-selection-regular) !important;
}




/** sidebar classes for toggling its visibility w/ corresponding animations
 *  Current approach dioes nort rely on `animation-direction: reverse;`
 * as it requires a time gap between css rules' anomations of
 * corresponding classes, which will complite things.
 * Current solution requires only to duplicate and reverse animation with its keyframes
 */
.sidebar-toggle-visible, .sidebar-toggle-hidden {
  animation-duration: 300ms;
  animation-delay: 0ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.sidebar-toggle-visible {
  animation-name: sidebar-toggle-visible;
}
.sidebar-toggle-hidden {
  animation-name: sidebar-toggle-hidden;
}
@keyframes sidebar-toggle-visible {
  from {
    transform: translateX(-150%);
    opacity: 0;
  }
  to {
    transform: translateX(0rem);
    opacity: 1;
  }
}
@keyframes sidebar-toggle-hidden {
  to {
    transform: translateX(-150%);
    opacity: 0;
  }
  from {
    transform: translateX(0rem);
    opacity: 1;
  }
}


.sidebar {
  display: grid;
  position: fixed;
  /* chrome height workaround +5vh */
  height: 105vh;
  word-wrap: anywhere;

  font-family: secondary-light;

  top: 0;
  bottom: 0;
  padding-right: 0;
}

.toc {
  height: 84vh;
  margin-top: 2vh;

  /* hide scrollbar */
  overflow-y: scroll;
  overscroll-behavior: contain;

  /* chrome */
  &::-webkit-scrollbar {
    display: none;
  }
  /* edge */
  -ms-overflow-style: none;
  /* ff */
  scrollbar-width: none;
}


.ui-button-group {
  display: flex;
  gap: 0.3rem;
  justify-content: center;
  position: fixed;
  z-index: 1;
}

.group-left {
  padding: 0.3rem;
  padding-left: 0px;
  left: 0;
  bottom: 2.2rem;
}

.group-right {
  padding: 0.3rem;
  padding-right: 0px;
  right: 0;
  bottom: 2.2rem;
}


/**
 * Custom styles for minimal desktop veiw
 */
/*@media only screen and (min-width: 624px) {
  .sidebar {
    max-width: 21%;
  }

  .ui-button-dom-scroller {
    right: 0%;
    bottom: 2.2rem;
    position: fixed;
    z-index: 10;
  }

  .container {
    max-width: 50%;
    padding-left: 25%;

    & p,
    li {
      text-align: left;
    }
  }
}

@media only screen and (min-width: 2048px) {
  .sidebar {
    max-width: 20rem;
    left: calc(((100% - 50rem) / 2) - 22rem);

    & .toc a > li {
      border-radius: 5px;
    }
  }

  .container {
    padding-left: calc((100% - 50rem) / 2);
    max-width: 50rem;
  }

}*/
